@model TheatreCMS.Models.CurrentProduction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CurrentProduction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Playwright)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Playwright)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpeningDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpeningDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClosingDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClosingDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowtimeEve)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowtimeEve)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowtimeMat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowtimeMat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketLink)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
