@*@model TheatreCMS.Models.CurrentProduction

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="formContainer">
    <div class="form-horizontal">
        <h4 class="formHeader">CurrentProduction</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProductionId)

        <div class="inputBox">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" }) @*col-md-2*@
            <div @*class="col-md-10"*@>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control inputText" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="inputBox">
            @Html.LabelFor(model => model.Playwright, htmlAttributes: new { @class = "control-label" }) @*col-md-2*@
            <div @*class="col-md-10"*@>
                @Html.EditorFor(model => model.Playwright, new { htmlAttributes = new { @class = "form-control inputText" } })
                @Html.ValidationMessageFor(model => model.Playwright, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="inputBox">
            @Html.LabelFor(model => model.OpeningDay, htmlAttributes: new { @class = "control-label" }) @*col-md-2*@
            <div @*class="col-md-10"*@>
                @Html.EditorFor(model => model.OpeningDay, new { htmlAttributes = new { @class = "form-control inputText" } })
                @Html.ValidationMessageFor(model => model.OpeningDay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="inputBox">
            @Html.LabelFor(model => model.ClosingDay, htmlAttributes: new { @class = "control-label" }) @*col-md-2*@
            <div @*class="col-md-10"*@>
                @Html.EditorFor(model => model.ClosingDay, new { htmlAttributes = new { @class = "form-control inputText" } })
                @Html.ValidationMessageFor(model => model.ClosingDay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="inputBox">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label" }) @*col-md-2*@
            <div @*class="col-md-10"*@>
                @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control inputText" } })
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="inputBox">
            @Html.LabelFor(model => model.ShowtimeEve, htmlAttributes: new { @class = "control-label" }) @*col-md-2*@
            <div @*class="col-md-10"*@>
                @Html.EditorFor(model => model.ShowtimeEve, new { htmlAttributes = new { @class = "form-control inputText" } })
                @Html.ValidationMessageFor(model => model.ShowtimeEve, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="inputBox">
            @Html.LabelFor(model => model.ShowtimeMat, htmlAttributes: new { @class = "control-label" }) @*col-md-2*@
            <div @*class="col-md-10"*@>
                @Html.EditorFor(model => model.ShowtimeMat, new { htmlAttributes = new { @class = "form-control inputText" } })
                @Html.ValidationMessageFor(model => model.ShowtimeMat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="inputBox">
            @Html.LabelFor(model => model.TicketLink, htmlAttributes: new { @class = "control-label" }) @*col-md-2*@
            <div @*class="col-md-10"*@>
                @Html.EditorFor(model => model.TicketLink, new { htmlAttributes = new { @class = "form-control inputText" } })
                @Html.ValidationMessageFor(model => model.TicketLink, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <div>
                <input type="submit" value="Save" class="submitButton" />
            </div>
        </div>

        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>*@
    </div>
</div>
   
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
