<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="@Url.Action("Index","Home")">Theatre Vertigo</a>
        <!--Drop down menu button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <!--("Page in controller", "Controller")-->
                    <a class="nav-link" href="@Url.Action("Index","Home")">Home</a>
                </li>
                <!--Drop Down menu "About"-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link" href="@Url.Action("About","Home")">About Us</a>
                        <a class="nav-link" href="@Url.Action("Index","CastMembers")">Cast Members</a>
                    </div>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Contact","Home")">Contact</a>
                </li>
                <!--Drop Down menu "More"-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More
                    </a>
                    <!-- Items in the drop down menu -->
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!--Need a template for Admin subscriber and Wiki-->
                        <a class="nav-link" href="@Url.Action("Index","CalendarEvents")">Calendar Events</a>
                        <a class="nav-link" href="@Url.Action("Index","CastMembers")">Cast Members</a>
                        <a class="nav-link" href="@Url.Action("Index","ContentSection")">Content Section</a>

                        <a class="nav-link" href="@Url.Action("Index","Productions")">Productions</a>
                        <a class="nav-link" href="@Url.Action("Index","RentalRequest")">Rental Requests</a>

                    </div>
                    <!-- /Items in the drop down-->
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
            <!--Search bar-->
            @*<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </form>*@
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Theatre Vertigo @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/fullcalendar")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/javascript")
    @RenderSection("scripts", required: false)
</body>
</html>
