@model TheatreCMS.Models.Production
@using TheatreCMS.Controllers

@{
    ViewBag.Title = "Delete";
}

    <div class="pt-5"> 
        @*  Center image and text using a card with border. *@
        <div class="card mx-auto col-lg-6 bg-black text-center prod-delete-page-border">
            <h3 class="pt-3 pb-2">Are you sure you want to delete this production?</h3>
            @*  Display the photo for each production as long as there is an image to display. *@
            @if (Model.DefaultPhoto != null)
            {
                <img class="card-img-top" src='@Url.Action("DisplayPhoto", "Photo", new { id = Model.DefaultPhoto.PhotoId})' alt="Production promo photo" />

            }
            <div class="card-body">
                @*  Display the title and playwright for each production. *@
                <h4 class="card-title">@Html.DisplayFor(model => model.Title)</h4>
                <h5 class="card-title">@Html.DisplayFor(model => model.Playwright)</h5>
                @*  Display the season for each production in a pill badge. *@
                <span class="badge badge-pill badge-secondary mb-2">Season # @Html.DisplayFor(model => model.Season)</span>
                @*  Display a pill badge for each production that is a world premiere. *@
                @if (Model.IsWorldPremiere)
                {
                    <span class="badge badge-pill badge-primary">World Premiere</span>
                }
                @*  Display a horizontal line separating the card text in the card body from the delete button. *@
                <hr class="prod-delete-horizonal-divider"/>

                <div class="py-3 pt-2">
                    <button type="submit" class="btn prod-delete-delete-btn px-lg-5" id="form-submit">Delete</button>
                </div>
            </div>
        </div>
            

        <div class="py-3">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="container text-center">

                    @Html.ActionLink("Current Productions", "Current") |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
   
        
   

