@model IEnumerable<TheatreCMS.Models.Production>
@using TheatreCMS.Controllers

@{
    ViewBag.Title = "Productions";
}

<h2 class= "mt-3 ml-4">Productions</h2>

@if (User.IsInRole("Admin"))
{
 <p class="ml-4">
    @Html.ActionLink("Create New", "Create")
</p>
}

<div class="container production-index-container">
  <div class="row mx-2">
    @foreach (var item in Model)
    {
      <div class="card col-md-6 col-xl-4" id="production-info-parent">
      @Html.DisplayFor(modelItem => item.DefaultPhoto)   @*Displays the default photo or Unavailable.jpg*@
      @{
        if (item.DefaultPhoto != null)
        {
        
            <a href="@Url.Action("Details", "Productions", new { id = item.ProductionId })">
              <img class="card-img-top production-index-img mt-5" src="@Url.Action("DisplayPhoto", "Photo", new { id = item.DefaultPhoto.PhotoId })" alt="Card image cap">  
            </a>
        }
        else
        {
            <a href="@Url.Action("Details", "Productions", new { id = item.ProductionId })">
              <img class="card-img-top production-index-img mt-5" src="~/Content/Images/Unavailable.png" alt="Card image cap">
            </a>
        }
        }
    <div class="card-body production-index-card-inner justify-content-center">
        <h4 class="card-title">@item.Title</h4>
        <h5 class="card-title">@item.Playwright</h5>
        @*<p class="card-text">@item.Description</p>*@
        <table class="w-100">
            <tr class="production-index-tr-styling">
                <th class="productions-index-th-styling">
                    @Html.DisplayNameFor(model => model.OpeningDay)
                </th>
                <td class="productions-index-td-styling">
                  @Convert.ToString(item.OpeningDay).Replace(":00 PM", "")
                </td>
            </tr>
            <tr class="production-index-tr-styling">
                <th class="productions-index-th-styling">
                    @Html.DisplayNameFor(model => model.ClosingDay)
                </th>
                <td class="productions-index-td-styling">
                  @Convert.ToString(item.ClosingDay).Replace(":00 PM", "")
                </td>
            </tr>
        </table>
        <table>
            <tr class="production-index-tr-styling">
                <th class="productions-index-th-styling">
                    @Html.DisplayNameFor(model => model.IsCurrent)
                </th>
                <td class="productions-index-td-styling">
                    @Html.DisplayFor(modelItem => item.IsCurrent)
                </td>
            </tr>
            <tr class="production-index-tr-styling">
                <th class="productions-index-th-styling">
                    @Html.DisplayNameFor(model => model.IsWorldPremiere)
                </th>
                <td class="productions-index-td-styling">
                    @Html.DisplayFor(modelItem => item.IsWorldPremiere)
                </td>
            </tr>
        </table>
      @if (User.IsInRole("Admin"))
      {
        @Html.ActionLink("Edit", "Edit", "Productions", new { id = item.ProductionId }, new { @class = "btn spaced-btn-1" }); 
        @Html.ActionLink("Delete", "Delete", "Productions", new { id = item.ProductionId }, new { @class = "btn spaced-btn-2" });
      }
    </div>
  </div>
   }
  </div>
</div>






