@model TheatreCMS.Areas.Subscribers.Models.SeasonManager

@{
    ViewBag.Title = "Delete";
}
<div class="page-format-DetailsDelete nice-border col-md-8">
    @*<h2>Delete</h2>*@

    <h3 class="card-banner bold underline red">
        Are you sure you want to delete this <br />
        Season Manager?
    </h3>
    <div>
        <br />
        @*<hr />*@
        <dl>
            <dt class="season-spacer">
                @Html.DisplayNameFor(model => model.NumberSeats)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumberSeats)
            </dd>
            <br />
            <dt class="season-spacer">
                @Html.DisplayNameFor(model => model.BookedCurrent)
            </dt>

            <dd class="big-checkbox">
                @Html.DisplayFor(model => model.BookedCurrent)
            </dd>
            <div class="season-body top-spacer">
                <div class="banner-grey season-body">
                    <br />
                    <h4 class="underline">Fall Production</h4>
                    <br />
                </div>
                <div class="">
                    <dt class="season-spacer">
                        @Html.DisplayNameFor(model => model.FallProd)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FallProd)
                    </dd>
                </div>
                <div class="">
                    <dt class="season-spacer">
                        @Html.DisplayNameFor(model => model.FallTime)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FallTime)
                    </dd>
                </div>
                <div class="">
                    <dt>
                        @Html.DisplayNameFor(model => model.BookedFall)
                    <dt class="season-spacer">

            <dd class="big-checkbox">
                @Html.DisplayFor(model => model.BookedFall)
            </dd>
    </div>
</div>
<div class="season-body top-spacer">
    <div class="banner-grey season-body">
        <br />
        <h4 class="underline">Winter Production</h4>
        <br />
    </div>
    <div class="">
        <dt class="season-spacer">
            @Html.DisplayNameFor(model => model.WinterProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinterProd)
        </dd>
    </div>
    <div class="">
        <dt class="season-spacer">
            @Html.DisplayNameFor(model => model.WinterTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinterTime)
        </dd>
    </div>
    <div class="">
        <dt class="season-spacer">
            @Html.DisplayNameFor(model => model.BookedWinter)
        </dt>

        <dd class="big-checkbox">
            @Html.DisplayFor(model => model.BookedWinter)
        </dd>
    </div>
</div>
<div class="season-body top-spacer">
    <div class="banner-grey season-body">
        <br />
        <h4 class="underline">Winter Production</h4>
        <br />
    </div>
    <div class="">
        <dt class="season-spacer">
            @Html.DisplayNameFor(model => model.SpringProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpringProd)
        </dd>
    </div>
    <div class="">
        <dt class="season-spacer">
            @Html.DisplayNameFor(model => model.SpringTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpringTime)
        </dd>
    </div>
    <div class="">
        <dt class="season-spacer">
            @Html.DisplayNameFor(model => model.BookedSpring)
        </dt>

        <dd class="big-checkbox">
            @Html.DisplayFor(model => model.BookedSpring)
        </dd>
    </div>
</div>
            </dl>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions col-md-4 col-centered">
        <br />
        <br />
        <button type="submit" class="SmBtn">
            <i class="fa fa-trash-alt fa-fw"></i>Delete<!-- This button is a link to a different page-->
        </button><!-- This demonstrates that multiple buttons can be in the same container-->
    </div>
    <br />
    <div class="card-banner col-md-12">

        @Html.ActionLink("Back to List", "Index") |
        @Html.ActionLink("Edit", "Edit", new { id = Model.SeasonManagerId })
    </div>
}
        </div>
    </div>