@model IEnumerable<TheatreCMS.Areas.Subscribers.Models.SeasonManager>

@{
    ViewBag.Title = "Index";
}
    <div class="banner-format-index col-md-4">
        <h2 class="underline">Season Managers</h2>
        <p>
            @Html.ActionLink("Create New", "Create")
            &nbsp;&nbsp;@Html.ActionLink("Back to Dashboard", "../Dashboard/Index")
        </p>
    </div>
        <div class="page-format-index col-md-8 b-on-g">
            <div class="col-md-10 page-center">
                <div class="season-container">
                    <div class="season-box-index b-on-r bold">
                        <div class="season-body-row">
                            @*@Html.DisplayNameFor(model => model.NumberSeats)*@
                            Seats Available
                        </div>
                        <div class="season-body-row">
                            @*@Html.DisplayNameFor(model => model.BookedCurrent)*@
                            Currently Booked?
                        </div>
                        <div class="season-body">
                            <h4 class="box-center">
                                Fall Production
                            </h4>
                            <div class="season-box-index">
                                <div class="season-body">
                                    Name
                                </div>
                                <div class="season-body">
                                    Time
                                </div>
                                <div class="season-body">
                                    Booked?
                                </div>
                            </div>
                        </div>
                        <div class="season-body">
                            <h4 class="box-center">
                                Winter Production
                            </h4>
                            <div class="season-box-index">
                                <div class="season-body">
                                    Name
                                </div>
                                <div class="season-body">
                                    Time
                                </div>
                                <div class="season-body">
                                    Booked?
                                </div>
                            </div>
                        </div>
                        <div class="season-body">
                            <h4 class="box-center">
                                Spring Production
                            </h4>
                            <div class="season-box-index">
                                <div class="season-body">
                                    Name
                                </div>
                                <div class="season-body">
                                    Time
                                </div>
                                <div class="season-body">
                                    Booked?
                                </div>
                            </div>
                        </div>
                        <div class="season-body-row">
                            Manage Season
                        </div>
                    </div>

                    @foreach (var item in Model)
                    {
                        <div class="season-box-index">
                            <div class="season-body-row">
                                @Html.DisplayFor(modelItem => item.NumberSeats)
                            </div>
                            <div class="season-body-row">
                                <div class="big-checkbox">
                                    @Html.DisplayFor(modelItem => item.BookedCurrent)
                                </div>
                            </div>
                            <div class="season-body">
                                <div class="season-box-index">
                                    <div class="season-body">
                                        @Html.DisplayFor(modelItem => item.FallProd)
                                    </div>
                                    <div class="season-body">
                                        @Html.DisplayFor(modelItem => item.FallTime)
                                    </div>
                                    <div class="season-body">
                                        <div class="big-checkbox">
                                            @Html.DisplayFor(modelItem => item.BookedFall)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="season-body">
                                <div class="season-box-index">
                                    <div class="season-body">
                                        @Html.DisplayFor(modelItem => item.WinterProd)
                                    </div>
                                    <div class="season-body">
                                        @Html.DisplayFor(modelItem => item.WinterTime)
                                    </div>
                                    <div class="season-body">
                                        <div class="big-checkbox">
                                            @Html.DisplayFor(modelItem => item.BookedWinter)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="season-body">
                                <div class="season-box-index">
                                    <div class="season-body">
                                        @Html.DisplayFor(modelItem => item.SpringProd)
                                    </div>
                                    <div class="season-body">
                                        @Html.DisplayFor(modelItem => item.SpringTime)
                                    </div>
                                    <div class="season-body">
                                        <div class="big-checkbox">
                                            @Html.DisplayFor(modelItem => item.BookedSpring)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                @Html.ActionLink("Edit", "Edit", new { id = item.SeasonManagerId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.SeasonManagerId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.SeasonManagerId })
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    
