@model IEnumerable<TheatreCMS.Models.CalendarEvent>



@{
    ViewBag.Title = "Index";
}

@*  For this story: elected to create confirm delete modal.
    
    Sam's To Do List:
    
    [Sam: please erase when completed/addressed]
    
    -C#/Razor syntax -linked project data isn't formulating on modals, either bug or formatting issue...
        Sam left commented out from copying from other .cshtml pages for ease of formatting

    -current CSS for all modals matches project guidelines/overall aesthetics

    -need some sort of event data to debug view detailsModal eventclick

    -enable selectable dates on calender to debug view addModal eventclick
        -poss need 'interaction' plugin from FullCalendar

    -create update functionality
    -create save functionality
    -create delete functionality

*@




<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>

<div class="container">
    @*Buttons to use for now, eventually link to Calender click events*@
    <button type="button" class="btn btn-primary" id="addbtn">Open Add Modal</button>
    <button type="button" class="btn btn-primary" id="detailbtn">Open Details Modal</button>


    @* Modal box for Add CalenderEvent *@
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="fc-modals">
                <div class="modal-header" >
                    <h3 class="modal-title" id="fc-modal-titles">Add a Calendar Event</h3>
                    <hr />
                    <button class="iconBtn2" href="#" data-dismiss="modal">
                        <i class="fa fa-window-close fa-fw"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <span aria-hidden="true"></span>

                    @*@using (Html.BeginForm())*@
                    @*{*@
                    @*//foreach (var item in Model)
                        //{*@
                    @*@Html.AntiForgeryToken()*@
                    <div class="formContainer2 ">
                        <div class="form-horizontal">
                            <div class="inputBox2">



                                @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                                <div class="form-group">
                                    @*@Html.LabelFor(modelItem => item.Title, htmlAttributes: new { @class = "control-label col-md-4 inputLabel" })*@
                                    <label>Event Title</label>
                                    <div class="formBox">
                                        @*@Html.EditorFor(modelItem => item.Title, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(modelItem => item.Title, "", new { @class = "text-white" })*@
                                        <input type="text" id="" placeholder="(text input type)" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    @*@Html.LabelFor(modelItem => item.StartDate, htmlAttributes: new { @class = "control-label col-md-4 inputLabel" })*@
                                    <label>Start time:</label>
                                    <div class="formBox">
                                        @*@Html.EditorFor(modelItem => item.StartDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                            @Html.ValidationMessageFor(modelItem => item.StartDate, "", new { @class = "text-white" })*@
                                        <input type="datetime-local" id="" placeholder="(datetime-local input type)" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    @*@Html.LabelFor(modelItem => item.EndDate, htmlAttributes: new { @class = "control-label col-md-4 inputLabel" })*@
                                    <label>End time:</label>
                                    <div class="formBox">
                                        @*@Html.EditorFor(modelItem => item.EndDate, new { htmlAttributes = new { @class = "form-control datepicker", @type = "date" } })
                                            @Html.ValidationMessageFor(modelItem => item.EndDate, "", new { @class = "text-white" })*@
                                        <input type="datetime-local" id="" placeholder="(datetime-local input type)" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    @*@Html.LabelFor(modelItem => item.TicketsAvailable, htmlAttributes: new { @class = "control-label col-md-4 inputLabel" })*@
                                    <label for="eventtypes">Event type:</label>
                                    <div class="formBox">
                                        @*@Html.EditorFor(modelItem => item.TicketsAvailable, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(modelItem => item.TicketsAvailable, "", new { @class = "text-white" })*@
                                        <select id="eventtypes">
                                            <option value="production">Production</option>
                                            <option value="rental">Facility Rental</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Link:</label>
                                    <div class="formBox">
                                        @*@Html.DropDownList("Productions", (IEnumerable<SelectListItem>)ViewData["Productions"], "N/A", htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(modelItem => item.ProductionId, "", new { @class = "text-white" })*@
                                        <input type="text" id="" placeholder="(text input type)" />
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    @*}*@
                    @*}*@
                </div>
                <div class="modal-footer">
                    <div class="iconBtnContainer2">
                        <button class="iconBtn2" id="savebtn" data-dismiss="modal">
                            <i class="fa fa-save fa-fw"></i> Save
                        </button>
                        <button class="iconBtn2" href="#" data-dismiss="modal">
                            <i class="fa fa-window-close fa-fw"></i> Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Modal box for Editing a CalenderEvent *@
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="fc-modals">

                <div class="modal-header">
                    <h3 class="modal-title" id="fc-modal-titles">Edit Calender Event</h3>
                    <button class="iconBtn2" href="#" data-dismiss="modal">
                        <i class="fa fa-window-close fa-fw"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <span aria-hidden="true"></span>
                    @*@using (Html.BeginForm("Edit", "CalendarEvents", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()*@
                    <div class="formContainer2 ">
                        <div class="form-horizontal">

                            @*@foreach (var t in Model)
                                {
                                    @Html.Hidden("EventId", t.EventId)*@
                            <div class="inputBox2">
                                @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                                <label>Event Title:</label>
                                <div class="form-group">
                                    @*@Html.LabelFor(modelItem => t.Title, htmlAttributes: new { @class = "control-label col-md-4 inputLabel" })*@
                                    <div class="formBox">
                                        @*@Html.EditorFor(modelItem => t.Title, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(modelItem => t.Title, "", new { @class = "text-danger" })*@

                                        <input type="text" id="" placeholder="(text input type)" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    @*@Html.LabelFor(modelItem => t.StartDate, htmlAttributes: new { @class = "control-label col-md-4 inputLabel" })*@
                                    <label>Start time:</label>
                                    <div class="formBox">
                                        @*@Html.EditorFor(modelItem => t.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(modelItem => t.StartDate, "", new { @class = "text-danger" })*@

                                        <input type="datetime-local" id="" placeholder="(datetime-local input type)" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    @*@Html.LabelFor(modelItem => t.EndDate, htmlAttributes: new { @class = "control-label col-md-4 inputLabel" })*@
                                    <label>End time:</label>
                                    <div class="formBox">
                                        @*@Html.EditorFor(modelItem => t.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(modelItem => t.EndDate, "", new { @class = "text-danger" })*@

                                        <input type="datetime-local" id="" placeholder="(datetime-local input type)" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    @*@Html.LabelFor(modelItem => t.TicketsAvailable, htmlAttributes: new { @class = "control-label col-md-4 inputLabel" })*@
                                    <label for="eventtypes">Event type:</label>
                                    <div class="formBox">
                                        @*@Html.EditorFor(modelItem => t.TicketsAvailable, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(modelItem => t.TicketsAvailable, "", new { @class = "text-danger" })*@
                                        <select id="eventtypes">
                                            <option value="production">Production</option>
                                            <option value="rental">Facility Rental</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @*@Html.LabelFor(modelItem => t.ProductionId, htmlAttributes: new { @class = "control-label col-md-4 inputLabel" })*@
                                    <label>Link:</label>
                                    <div class="formBox">
                                        @*@Html.EditorFor(modelItem => t.ProductionId, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(modelItem => t.ProductionId, "", new { @class = "text-danger" })*@

                                        <input type="text" id="" placeholder="(text input type)" />
                                    </div>
                                </div>



                            </div>
                            @*}*@
                        </div>
                    </div>
                    @*}*@

                </div>
                <div class="modal-footer">
                    <div class="iconBtnContainer2">
                        <button class="iconBtn2">
                            <i class="fa fa-save fa-fw"></i> Save
                        </button>
                        <button class="iconBtn2" id="deletebtn" data-dismiss="modal" data-toggle="modal">
                            <i class="fa fa-trash-alt fa-fw"></i> Delete
                        </button>
                        <button class="iconBtn2" href="#" data-dismiss="modal">
                            <i class="fa fa-window-close fa-fw"></i> Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Modal box for Details from a Calendar Event *@
    <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="fc-modals">
                <span aria-hidden="true"></span>
                <div class="modal-header">
                    <h3 class="modal-title" id="fc-modal-titles">Calender Event Details</h3>
                    <button class="iconBtn2" href="#" data-dismiss="modal">
                        <i class="fa fa-window-close fa-fw"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="formContainer2 ">
                        @*@foreach (var e in Model)
                            {*@
                        <dl class="dl-horizontal">
                            <dt>
                                @*@Html.DisplayNameFor(model => model.Title)*@
                                Event Title:
                            </dt>

                            <dd>
                                @*@Html.DisplayFor(modelItem => e.Title)*@
                                ( display of text input type)
                            </dd>

                            <dt>
                                @*@Html.DisplayNameFor(model => model.StartDate)*@
                                Start time:
                            </dt>

                            <dd>
                                @*@Html.DisplayFor(modelItem => e.StartDate)*@
                                ( display of datetime-local input type)
                            </dd>

                            <dt>
                                @*@Html.DisplayNameFor(model => model.EndDate)*@
                                End time:
                            </dt>

                            <dd>
                                @*@Html.DisplayFor(modelItem => e.EndDate)*@
                                ( display of datetime-local input type)
                            </dd>

                            <dt>
                                @*@Html.DisplayNameFor(model => model.RentalRequestId)*@
                                Event Type:
                            </dt>

                            <dd>
                                @*@Html.DisplayFor(modelItem => e.RentalRequestId)*@
                                ( display of either option: "Production" or "Facility Rental")

                            </dd>

                            <dt>
                                @*@Html.DisplayNameFor(model => model.RentalRequestId)*@
                                Link:
                            </dt>

                            <dd>
                                @*@Html.DisplayFor(modelItem => e.RentalRequestId)*@
                                ( display of text input type)

                            </dd>

                        </dl>
                        @*}*@
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="iconBtnContainer2">
                        <button class="iconBtn2" id="editbtn" data-dismiss="modal" data-toggle="modal"><i class="fa fa-edit fa-fw"></i> Edit</button>
                        <button class="iconBtn2" id="detaildeletebtn" data-dismiss="modal" data-toggle="modal">
                            <i class="fa fa-trash-alt fa-fw"></i> Delete
                        </button>
                        <button class="iconBtn2" href="#" data-dismiss="modal">
                            <i class="fa fa-window-close fa-fw"></i> Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Modal box for Deletion Confirmation of Calendar Event*@
    <div class="modal fade" id="confdelModal" tabindex="-1" role="dialog" aria-labelledby="confdelModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="fc-modals">
                <span aria-hidden="true"></span>
                <div class="modal-header">
                    <h3 class="modal-title" id="fc-modal-titles">Confirm Delete Event</h3>
                    <button class="iconBtn2" href="#" data-dismiss="modal">
                        <i class="fa fa-window-close fa-fw"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <h1>Delete Event</h1>
                    <p>Are you sure you wish to delete this event?</p>
                </div>
                <div class="modal-footer">
                    <div class="iconBtnContainer2">
                        <button class="iconBtn2" id="deletebtn" data-dismiss="modal" data-toggle="modal"><i class="fa fa-trash-alt fa-fw"></i> Delete</button>
                        <button class="iconBtn2" href="#" data-dismiss="modal">
                            <i class="fa fa-window-close fa-fw"></i> Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>



<div id="calendar"></div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var events = [];
            $.ajax({
                type: "GET",
                url: "/calendarEvents/GetCalendarEvents",
                success: function (data) {
                    //    data[0].start = moment(data[0].start)
                    //    data[0].end = moment(data[0].end)
                    events = data
                    $('#calendar').fullCalendar({
                        // put your options and callbacks here



                        events: events,
                        contentHeight: 550,
                    })
                    console.log(data);
                    console.log(events);
                }
            })

            $(document).ready(function () {
                $("#addbtn").click(function () {
                    $("#addModal").modal({ backdrop: false });
                });
                $('#detailbtn').click(function () {
                    $("#detailsModal").modal({ backdrop: false });
                });
                $("#editbtn").click(function () {
                    $("#editModal").modal({ backdrop: false });
                });
                $('#editModal').modal('handleUpdate');
                $("#deletebtn").click(function () {
                    $("#confdelModal").modal({ backdrop: false });
                });
                $("#detaildeletebtn").click(function () {
                    $("#confdelModal").modal({ backdrop: false });
                });
                jsEvent.click(function () {
                    $("#detailsModal").modal({ backdrop: false });
                });
                jsEvent.click(function () {
                    $("#editModal").modal({ backdrop: false });
                });
            });

            //to render the details modal from selecting an event
            $('#calendar').fullCalendar({
                eventClick: function (calEvent, jsEvent, view) {

                    jsEvent.click(function () {
                        $("#detailsModal").modal({ backdrop: true });

                    })
                }
            });

            //to render the add modal from selecting empty space [or date link?]

            $('#calendar').fullCalendar({
                dayClick: function (date, jsEvent, view, resourceObj) {
                    $("#addModal").modal({ backdrop: false });
                }
            });

            // to confirm event updated:
            $('#calendar').fullCalendar({
                eventClick: function (event, element) {
                    event.title = "CHANGES SAVED!";

                    $('#calendar').fullCalendar('updateEvent', event);
                    $('#calendar').fullCalendar('renderEvent', event, true);
                }
            });




            // page is now ready, initialize the calendar...





        });
    </script>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketsAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentalRequestId)
        </th>
        <th></th>
    </tr>

    @foreach (var m in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => m.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => m.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => m.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => m.TicketsAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => m.ProductionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => m.RentalRequestId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = m.EventId }) |
                @Html.ActionLink("Details", "Details", new { id = m.EventId }) |
                @Html.ActionLink("Delete", "Delete", new { id = m.EventId })
            </td>
        </tr>
    }

</table>
