@model IEnumerable<TheatreCMS.Models.CalendarEvent>

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

@* Modal box for Add Calender Event *@
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="fc-modals-titles" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="fc-modals">
            <div class="modal-header">
                <h3 class="modal-title" id="fc-modal-titles">Add a Calendar Event</h3>
                <hr />
                <button class="iconBtn2" href="#" data-dismiss="modal">
                    <i class="fa fa-window-close fa-fw"></i>
                </button>
            </div>
            <div class="modal-body">
                <span aria-hidden="true"></span>

                <div class="form-horizontal">
                    <div class="inputBox2">

                        <div class="form-group">
                            <label class="fc-modal-labels">Event Title</label>
                            <div class="formBox">
                                <input type="text" id="addformtitle" placeholder="(text input type)" /> 
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="fc-modal-labels">Start time:</label>
                            <div class="formBox">
                                <input type="text" id="addformstarttime" placeholder="MM/DD/YYYY --:-- "/>                               
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="fc-modal-labels">End time:</label>
                            <div class="formBox">
                                <input type="text" id="addformendtime" placeholder="MM/DD/YYYY --:-- " />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="fc-modal-labels" for="eventtypes">Event type:</label>
                            <div class="formBox">
                                <select id="eventtypes">
                                    <option value="production" id="addprodopt">Production</option>
                                    <option value="rental" id="addrentopt">Facility Rental</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="fc-modal-labels">Link:</label>
                            <div class="formBox">
                                <input type="text" id="addformlink" placeholder="(text input type)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="iconBtnContainer2">
                    <button class="iconBtn2" id="addsavebtn" data-dismiss="modal">
                        <i class="fa fa-save fa-fw"></i> Save
                    </button>
                    <button class="iconBtn2" href="#" data-dismiss="modal">
                        <i class="fa fa-window-close fa-fw"></i> Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@* Modal box for Editing a CalenderEvent *@
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="fc-modal-titles" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="fc-modals">

            <div class="modal-header">
                <h3 class="modal-title" id="fc-modal-titles">Edit Calender Event</h3>
                <button class="iconBtn2" href="#" data-dismiss="modal">
                    <i class="fa fa-window-close fa-fw"></i>
                </button>
            </div>
            <div class="modal-body">
                <span aria-hidden="true"></span>

                <div class="form-horizontal">
                    <div class="inputBox2">

                        <div class="form-group">
                            <label class="fc-modal-labels">Event Title</label>
                            <div class="formBox">
                                <input type="text" class="form-control" id="editformtitle" placeholder="" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="fc-modal-labels">Start time:</label>
                            <div class="formBox">
                                <input type="text" id="editformstarttime" onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'" placeholder="MM/DD/YYYY --:-- " />

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="fc-modal-labels">End time:</label>
                            <div class="formBox">
                                <input type="text" id="editformendtime" onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'" placeholder="MM/DD/YYYY --:-- " />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="fc-modal-labels" for="editeventtypes">Event type:</label>
                            <div class="formBox">
                                <select id="editeventtypes" onchange="change_editeventtypes(this.value)">
                                    <option value="production" id="editprodopt">Production</option>
                                    <option value="rental" id="editrentopt">Facility Rental</option>
                                </select>
                                <p id="eeventRentalRequestId">&times;</p>/
                                <p id="eProductionId">&times;</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="fc-modal-labels">Link:</label>
                            <div class="formBox">
                                <input type="text" id="editformlink" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="iconBtnContainer2">
                    <button class="iconBtn2" id="editsavebtn">
                        <i class="fa fa-save fa-fw"></i> Save
                    </button>           
                        <button class="iconBtn2" id="editdeletebtn" data-dismiss="modal" data-toggle="modal">
                            <i class="fa fa-trash-alt fa-fw"></i> Delete
                        </button>
                    <button class="iconBtn2" href="#" data-dismiss="modal">
                        <i class="fa fa-window-close fa-fw"></i> Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@* Modal box for Details from a Calendar Event *@
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="fc-modal-titles" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="fc-modals">
            <span aria-hidden="true"></span>
            <div class="modal-header">
                <h3 class="modal-title" id="fc-modal-titles">Event Details</h3>
                <button class="iconBtn2" href="#" data-dismiss="modal">
                    <i class="fa fa-window-close fa-fw"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">

                    <dl class="dl-horizontal">
                        <dt>
                            Event Title:
                        </dt>
                        <dd>
                            <p id="deventTitle"></p>
                        </dd>
                        <dt>
                            Start time:
                        </dt>
                        <dd>
                            <p id="deventStartDate"></p>
                        </dd>
                        <dt>
                            End time:
                        </dt>
                        <dd>
                            <p id="deventEndDate"></p>
                        </dd>
                        <dt>
                            Id present: Rental/Production:
                        </dt>
                        <dd>
                            <p id="deventRentalRequestId">&times;</p>/<p id="deventProductionId">&times;</p>
                        </dd>
                        <dt>
                            Link:
                        </dt>
                        <dd>
                            <p id="deventLinks"></p>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="modal-footer">
                <div class="iconBtnContainer2">
                    <button class="iconBtn2" id="detaileditbtn" data-dismiss="modal" data-toggle="modal"><i class="fa fa-edit fa-fw"></i> Edit</button>
                        <button class="iconBtn2" id="detaildeletebtn" data-dismiss="modal" data-toggle="modal">
                            <i class="fa fa-trash-alt fa-fw"></i> Delete
                        </button>
                    <button class="iconBtn2" href="#" data-dismiss="modal">
                        <i class="fa fa-window-close fa-fw"></i> Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@*Modal box for Deletion Confirmation of Calendar Event*@
<div class="modal fade" id="confdelModal" tabindex="-1" role="dialog" aria-labelledby="fc-modals-titles" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="fc-modals">
            <span aria-hidden="true"></span>
            <div class="modal-header">
                <h3 class="modal-title" id="fc-modal-titles">Confirm Delete Event</h3>
                <button class="iconBtn2" href="#" data-dismiss="modal">
                    <i class="fa fa-window-close fa-fw"></i>
                </button>
            </div>
            <div class="modal-body">
                <h1>Delete Event</h1>
                <p>Are you sure you wish to delete this event?</p>
            </div>
            <div class="modal-footer">
                <div class="iconBtnContainer2">
                    <button class="iconBtn2" id="confdeletebtn" data-dismiss="modal" data-toggle="modal"><i class="fa fa-trash-alt fa-fw"></i> Delete</button>
                    <button class="iconBtn2" href="#" data-dismiss="modal">
                        <i class="fa fa-window-close fa-fw"></i> Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="calendar"></div>

@section Scripts {
    <script>
        var events = [];
        $(document).ready(function () {
            //var selectedEvent = null;
            FetchEventsAndRenderCalendar();
            function FetchEventsAndRenderCalendar() {
                $.ajax({
                    type: "GET",
                    url: "/CalendarEvents/FetchEventsAndRenderCalendar",
                    success: function (data) {
                            events = data
                            console.log(data);
                            //console.log(events);
                            GenerateCalendar(events);
                    }
                })
            };
            
            function GenerateCalendar(events) { //events: data of events, inherent from FullCalendar?
                //remove the previous Calendar
                $('#calendar').fullCalendar('destroy');
                //Assign properties to the Calendar, and some events
                $('#calendar').fullCalendar({
                    //data: events,
                    contentHeight: 550,
                    defaultDate: new Date(),
                    //for ease, remove times of events on EventDisplays
                    displayEventTime: false,
                    //allows multiple/stacked events
                    eventLimit: true,
                    //default event color: --main-secondary-color
                    eventColor: '#F04D44',
                    events: events,
                    selectable: true,
                    selectHelper: true,
                    //if multiple events on same day should be stacked, set to true:
                    eventLimit: false,
                    //dayClick only selects a single day, whereas this picks a range of dates if needed by admin:
                    select: function (startStr, endStr) {
                        var addstarttime = startStr.format("MM-DD-YYYY HH:mm").toString();                    
                        $('#addModal #addformstarttime').val(addstarttime);
                        var addendtime = endStr.format("MM-DD-YYYY HH:mm").toString();
                        $('#addModal #addformendtime').val(addendtime);

                        $("#addModal").modal({ backdrop: true });
                    },
                                        


                    eventClick: function (calEvent) {
                        $('#detailsModal #deventId').html(calEvent.id);
                        $('#detailsModal #deventTitle').html(calEvent.title);
                        var startdatedetail = calEvent.start.format("MM-DD-YYYY HH:mm");
                        $('#detailsModal #deventStartDate').html(startdatedetail);
                        var enddatedetail = calEvent.end.format("MM-DD-YYYY HH:mm");
                        $('#detailsModal #deventEndDate').html(enddatedetail);
                        $('#detailsModal #deventRentalRequestId').html(calEvent.rentalrequestid);
                        $('#detailsModal #deventProductionId').html(calEvent.productionid);
                        //$('#detailsModal #deventEventLinks').html(calEvent.Link);

                        
                        $("#detailsModal").modal({ backdrop: true });

                        $("#detaileditbtn").click(function (calEvent) {
                            console.log(calEvent.id);
                            $('#editModal #eeventId').html(calEvent.id);                            
                            $('#editModal #eeventTitle').html(function () {
                                document.getElementById("editformtitle").defaultValue = calEvent.title;
                            });
                            $('#editModal #eeventStartDate').html(function () {
                                document.getElementById("editformstarttime").defaultValue = calEvent.start;
                            });
                            $('#editModal #eeventEndDate').html(function () {
                                document.getElementById("editformendtime").defaultValue = calEvent.end;
                            });
                            $('#editModal #eeventRentalRequestId').html(calEvent.rentalrequestid);
                            $('#editModal #eProductionId').html(calEvent.productionid);
                            //$('#editModal #eeventEventLinks').html(function () {
                            //document.getElementById("editeventtypes").defaultValue = calEvent.Link);

                            //remove previous modal and show edit Modal when edit button selected
                            $("#editModal").modal('show');
                            $("#detailsModal").modal('hide');

                            //save changes made in edit Modal
                            $('#editsavebtn').click(function () {
                                $("#editModal").modal('hide');
                            });

                            //send to Confirm to Delete Modal when delete button selected [on edit Modal]
                            $("#editdeletebtn").click(function () {
                                selectedEvent = calEvent.id;
                                $("#confdelModal").modal({ backdrop: false });
                                $("#editModal").modal('hide');
                            });
                        });
                        //send to Confirm to Delete Modal when delete button selected [on details Modal]
                        $("#detaildeletebtn").click(function () {
                            selectedEvent = calEvent.id;
                            $("#confdelModal").modal({ backdrop: false });
                            $("#detailsModal").modal('hide');
                        });                                            
                    },                    
                });
            };

            //save new event from Add Modal
            $('#addsavebtn').click(function ( addstarttime, addendtime) {
                console.log("addsavebtn clicked!")

                e = ({
                    Title: $('#addmodal #addformtitle').val(),
                    StartDate: $('#addmodal #addformstarttime').val(),
                    EndDate: $('#addmodal #addformendtime').val(),
                });
                console.log(e.Title);
                $.ajax({
                    type: "POST",
                    url: '/CalendarEvents/UpdateEvent',
                    data: { 'e': e },
                    success: function (data) {
                        if (data.status) {
                            //refresh the calendar
                            console.log(data);
                            callback(data);
                            $("#calendar").fullCalendar('renderEvent', e);
                            FetchEventAndRenderCalendar();
                            $('#addModal').modal('hide');
                        }
                    },
                    error: function () {
                        alert('Failed, Sorry!');
                    }
                });
            }),


            //confirm delete function call
            $('#confdeletebtn').click(function () {
                var id = selectedEvent;
                //console.log(id);
                if (id != null) {
                    $.ajax({
                        type: "POST",
                        url: '/CalendarEvents/DeletingEvent',
                        data: { 'id': id },
                        success: function (data) {
                            if (data.status) {
                                $("#calendar").fullCalendar('removeEvents', id);
                                FetchEventAndRenderCalendar();
                                $('#confdelModal').modal('hide');
                            }
                        },
                        error: function () {
                            alert('Failed, Sorry!');
                        }
                    })
                }
            });

        });
        // page is now ready, initialize the calendar...
    </script>
}


@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table text-white">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketsAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentalRequestId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketsAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalRequestId)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {

                    @Html.ActionLink("Edit", "Edit", new { id = item.EventId })
                }

                | @Html.ActionLink("Details", "Details", new { id = item.EventId }) |

                @if (User.IsInRole("Admin"))
                {

                    @Html.ActionLink("Delete", "Delete", new { id = item.EventId })
                }


            </td>
        </tr>
    }

</table>