@model IEnumerable<TheatreCMS.Models.CalendarEvent>



@{
    ViewBag.Title = "Index";
}
@*  Sam's To Do List:

    -debug issue RE background scrolling when modals triggered from other modals, *least priority

    -confirm input/forms of modals are what story requested and not lacking razor initiated syntax.

    -enable selectable dates on calender to debug view addModal eventclick
        -poss need 'interaction' plugin from FullCalendar

    -create update functionality
    -create save functionality
    -create delete functionality

*@

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />



<div class="container">
    @*Buttons to use for now, eventually link to Calender click events*@
    <button type="button" class="btn btn-primary" id="addbtn">Open Add Modal</button>

    @* Modal box for Add CalenderEvent *@
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="fc-modals-titles" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="fc-modals">
                <div class="modal-header">
                    <h3 class="modal-title" id="fc-modal-titles">Add a Calendar Event</h3>
                    <hr />
                    <button class="iconBtn2" href="#" data-dismiss="modal">
                        <i class="fa fa-window-close fa-fw"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <span aria-hidden="true"></span>

                    <div class="form-horizontal">
                        <div class="inputBox2">

                            <div class="form-group">
                                <label>Event Title</label>
                                <div class="formBox">
                                    <input type="text" id="addformtitle" placeholder="(text input type)" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Start time:</label>
                                <div class="formBox">
                                    <input type="datetime-local" id="addformstarttime" placeholder="(datetime-local input type)" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label>End time:</label>
                                <div class="formBox">
                                    <input type="datetime-local" id="addformendtime" placeholder="(datetime-local input type)" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="eventtypes">Event type:</label>
                                <div class="formBox">
                                    <select id="eventtypes">
                                        <option value="production" id="addprodopt">Production</option>
                                        <option value="rental" id="addrentopt">Facility Rental</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Link:</label>
                                <div class="formBox">
                                    <input type="text" id="addformlink" placeholder="(text input type)" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="iconBtnContainer2">
                        <button class="iconBtn2" id="addsavebtn" data-dismiss="modal">
                            <i class="fa fa-save fa-fw"></i> Save
                        </button>
                        <button class="iconBtn2" href="#" data-dismiss="modal">
                            <i class="fa fa-window-close fa-fw"></i> Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Modal box for Editing a CalenderEvent *@
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="fc-modal-titles" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="fc-modals">

                <div class="modal-header">
                    <h3 class="modal-title" id="fc-modal-titles">Edit Calender Event</h3>
                    <button class="iconBtn2" href="#" data-dismiss="modal">
                        <i class="fa fa-window-close fa-fw"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <span aria-hidden="true"></span>

                    <div class="form-horizontal">
                        <div class="inputBox2">

                            <div class="form-group">
                                <label>Event Title</label>
                                <div class="formBox">
                                    <input type="text" id="editformtitle" placeholder="(text input type)" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Start time:</label>
                                <div class="formBox">
                                    <input type="datetime-local" id="editformstarttime" placeholder="(datetime-local input type)" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label>End time:</label>
                                <div class="formBox">
                                    <input type="datetime-local" id="editformendtime" placeholder="(datetime-local input type)" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="eventtypes">Event type:</label>
                                <div class="formBox">
                                    <select id="eventtypes">
                                        <option value="production" id="editprodopt">Production</option>
                                        <option value="rental" id="editrentopt">Facility Rental</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Link:</label>
                                <div class="formBox">
                                    <input type="text" id="editformlink" placeholder="(text input type)" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="iconBtnContainer2">
                        <button class="iconBtn2">
                            <i class="fa fa-save fa-fw"></i> Save
                        </button>
                        <span class="modal-trigger">
                            <button class="iconBtn2" id="editdeletebtn" data-dismiss="modal" data-toggle="modal">
                                <i class="fa fa-trash-alt fa-fw"></i> Delete
                            </button>
                        </span>
                        <button class="iconBtn2" href="#" data-dismiss="modal">
                            <i class="fa fa-window-close fa-fw"></i> Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Modal box for Details from a Calendar Event *@
    <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="fc-modal-titles" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="fc-modals">
                <span aria-hidden="true"></span>
                <div class="modal-header">
                    <h3 class="modal-title" id="fc-modal-titles">Event Details</span></h3>
                    <button class="iconBtn2" href="#" data-dismiss="modal">
                        <i class="fa fa-window-close fa-fw"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        
                        <dl class="dl-horizontal">
                            <dt>
                                Event Title:
                            </dt>
                            <dd>
                                <p id="eventTitle"></p>
                            </dd>
                            <dt>
                                Start time:
                            </dt>
                            <dd>
                                <p id="eventStartDate"></p>
                            </dd>
                            <dt>
                                End time:
                            </dt>
                            <dd>
                                <p id="eventEndDate"></p>
                            </dd>
                            <dt>
                                Id present: Rental/Production:
                            </dt>
                            <dd>
                                <p id="eventRentalRequestId">&times;</p>/<p id="ProductionId">&times;</p>
                            </dd>
                            <dt>
                                Link:
                            </dt>
                            <dd>
                                ( display of text input type)
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="iconBtnContainer2">
                        <span class="modal-trigger"><button class="iconBtn2" id="detaileditbtn" data-dismiss="modal" data-toggle="modal"><i class="fa fa-edit fa-fw"></i> Edit</button></span>
                        <span class="modal-trigger">
                            <button class="iconBtn2" id="detaildeletebtn" data-dismiss="modal" data-toggle="modal">
                                <i class="fa fa-trash-alt fa-fw"></i> Delete
                            </button>
                        </span>
                        <button class="iconBtn2" href="#" data-dismiss="modal">
                            <i class="fa fa-window-close fa-fw"></i> Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Modal box for Deletion Confirmation of Calendar Event*@
    <div class="modal fade" id="confdelModal" tabindex="-1" role="dialog" aria-labelledby="fc-modals-titles" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="fc-modals">
                <span aria-hidden="true"></span>
                <div class="modal-header">
                    <h3 class="modal-title" id="fc-modal-titles">Confirm Delete Event</h3>
                    <button class="iconBtn2" href="#" data-dismiss="modal">
                        <i class="fa fa-window-close fa-fw"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <h1>Delete Event</h1>
                    <p>Are you sure you wish to delete this event?</p>
                </div>
                <div class="modal-footer">
                    <div class="iconBtnContainer2">
                        <button class="iconBtn2" id="deletebtn" data-dismiss="modal" data-toggle="modal"><i class="fa fa-trash-alt fa-fw"></i> Delete</button>
                        <button class="iconBtn2" href="#" data-dismiss="modal">
                            <i class="fa fa-window-close fa-fw"></i> Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<div id="calendar"></div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var events = [];
            var selectedEvent = null;
            $.ajax({
                type: "GET",
                url: "/CalendarEvents/GetCalendarEvents",
                success: function (data) {
                    $.each(data, function () {
                        events = data
                        //console.log(data);
                        console.log(events);
                    })
                    GenerateCalendar(data);
                }
            })

            function GenerateCalendar(data) {
                $('#calendar').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    data: events,
                    contentHeight: 550,
                    timeFormat: 'h(:mm)a',
                    events: events,
                    dayClick: function (date, jsEvent, view) {
                        $('addModal').modal({ backdrop: false });
                    },
                    eventClick: function (calEvent, jsEvent, view) {
                        selectedEvent = calEvent;
                        $('#detailsModal #eventId').html(calEvent.id);
                        $('#detailsModal #eventTitle').html(calEvent.title);
                        $('#detailsModal #eventStartDate').html(calEvent.start.format("MM-DD-YYYY"));
                        $('#detailsModal #eventEndDate').html(calEvent.end.format("MM-DD-YYYY"));
                        $('#detailsModal #eventRentalRequestId').html(calEvent.rentalrequestid);
                        $('#detailsModal #eventProductionId').html(calEvent.productionid);
                        //$('#detailsModal #event').html(calEvent.Link);

                        $("#detailsModal").modal({ backdrop: true });
                    }
                });
            };
            

            $('#calendar').fullCalendar({
                editable: true,
                selectable: true
            });

            // page is now ready, initialize the calendar...


            $("#addbtn").click(function () {
                $("#addModal").modal({ backdrop: false });
            });
            $('addsavebtn').click(function () {
                //var newEvent = {
                //    title: 'NEW EVENT',
                //    start: new Date(y, m, d)
            });
            //$('#calendar').fullCalendar("renderEvent", newEvent, true);
            //});

            $("#detaileditbtn").click(function () {
                $("#editModal").modal({ backdrop: false });
            });

            //commented out JS for modals when attached to functionality: edit
            //$('#editModal').modal('handleUpdate');


            $("#detaildeletebtn").click(function () {
                selectedEvent = calEvent;
                $("#confdelModal").modal({ backdrop: false });
            });
            $("#editdeletebtn").click(function () {
                selectedEvent = calEvent;
                $("#confdelModal").modal({ backdrop: false });
            });

            //to prevent body scrolling bug when modal triggered from another modal
            $("#editModal").on("show.bs.modal"), function () {
                $("body").css('position', 'fixed').css('overflow', 'hidden');
            };
            $("#editModal").on("hide.bs.modal"), function () {
                $("body").css('position', 'relative').css('overflow', 'auto');
            };

            // to confirm event updated:
            $('#calendar').fullCalendar({
                selectedEvent = calEvent;
                eventClick: function (event, element) {
                    event.title = "CHANGES SAVED!";

                    $('#calendar').fullCalendar('updateEvent', event);
                    $('#calendar').fullCalendar('renderEvent', event, true);
                }
            });


        });
    </script>
}

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table text-white">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketsAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentalRequestId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketsAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalRequestId)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {

                    @Html.ActionLink("Edit", "Edit", new { id = item.EventId })
                }

                | @Html.ActionLink("Details", "Details", new { id = item.EventId }) |

                @if (User.IsInRole("Admin"))
                {

                    @Html.ActionLink("Delete", "Delete", new { id = item.EventId })
                }


            </td>
        </tr>
    }

</table>