@model IEnumerable<TheatreCMS.Models.CalendarEvent>



@{
    ViewBag.Title = "Index";
}
@*  Sam's To Do List:

    -debug issue RE background scrolling when modals triggered from other modals

    -need some sort of event data to debug view detailsModal eventclick

    -enable selectable dates on calender to debug view addModal eventclick
        -poss need 'interaction' plugin from FullCalendar

    -create update functionality
    -create save functionality
    -create delete functionality

*@

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>

<div class="container">
    @*Buttons to use for now, eventually link to Calender click events*@
    <button type="button" class="btn btn-primary" id="addbtn">Open Add Modal</button>
    <button type="button" class="btn btn-primary" id="detailbtn">Open Details Modal</button>
    <button type="button" class="btn btn-primary" id="editbtn">Edit Event Modal</button>
    <button type="button" class="btn btn-primary" id="deletebtn">Confirm Delete Event Modal</button>


    @* Modal box for Add CalenderEvent *@
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="fc-modals-titles" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="fc-modals">
                <div class="modal-header">
                    <h3 class="modal-title" id="fc-modal-titles">Add a Calendar Event</h3>
                    <hr />
                    <button class="iconBtn2" href="#" data-dismiss="modal">
                        <i class="fa fa-window-close fa-fw"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <span aria-hidden="true"></span>

                        <div class="form-horizontal">
                            <div class="inputBox2">

                                <div class="form-group">
                                    <label>Event Title</label>
                                    <div class="formBox">                       
                                        <input type="text" id="" placeholder="(text input type)" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Start time:</label>
                                    <div class="formBox">
                                        <input type="datetime-local" id="" placeholder="(datetime-local input type)" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>End time:</label>
                                    <div class="formBox">
                                        <input type="datetime-local" id="" placeholder="(datetime-local input type)" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="eventtypes">Event type:</label>
                                    <div class="formBox">
                                        <select id="eventtypes">
                                            <option value="production">Production</option>
                                            <option value="rental">Facility Rental</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Link:</label>
                                    <div class="formBox">
                                        <input type="text" id="" placeholder="(text input type)" />
                                    </div>
                                </div>


                            </div>
                        </div>


                </div>
                <div class="modal-footer">
                    <div class="iconBtnContainer2">
                        <button class="iconBtn2" id="savebtn" data-dismiss="modal">
                            <i class="fa fa-save fa-fw"></i> Save
                        </button>
                        <button class="iconBtn2" href="#" data-dismiss="modal">
                            <i class="fa fa-window-close fa-fw"></i> Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Modal box for Editing a CalenderEvent *@
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="fc-modal-titles" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="fc-modals">

                <div class="modal-header">
                    <h3 class="modal-title" id="fc-modal-titles">Edit Calender Event</h3>
                    <button class="iconBtn2" href="#" data-dismiss="modal">
                        <i class="fa fa-window-close fa-fw"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <span aria-hidden="true"></span>

                    <div class="form-horizontal">
                        <div class="inputBox2">

                            <div class="form-group">
                                <label>Event Title</label>
                                <div class="formBox">
                                    <input type="text" id="" placeholder="(text input type)" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Start time:</label>
                                <div class="formBox">
                                    <input type="datetime-local" id="" placeholder="(datetime-local input type)" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label>End time:</label>
                                <div class="formBox">
                                    <input type="datetime-local" id="" placeholder="(datetime-local input type)" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="eventtypes">Event type:</label>
                                <div class="formBox">
                                    <select id="eventtypes">
                                        <option value="production">Production</option>
                                        <option value="rental">Facility Rental</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Link:</label>
                                <div class="formBox">
                                    <input type="text" id="" placeholder="(text input type)" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="iconBtnContainer2">
                        <button class="iconBtn2">
                            <i class="fa fa-save fa-fw"></i> Save
                        </button>
                        <span class="modal-trigger">
                            <button class="iconBtn2" id="editdeletebtn" data-dismiss="modal" data-toggle="modal">
                                <i class="fa fa-trash-alt fa-fw"></i> Delete
                            </button>
                        </span>
                        <button class="iconBtn2" href="#" data-dismiss="modal">
                            <i class="fa fa-window-close fa-fw"></i> Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Modal box for Details from a Calendar Event *@
    <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="fc-modal-titles" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="fc-modals">
                <span aria-hidden="true"></span>
                <div class="modal-header">
                    <h3 class="modal-title" id="fc-modal-titles">Calender Event Details</h3>
                    <button class="iconBtn2" href="#" data-dismiss="modal">
                        <i class="fa fa-window-close fa-fw"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">

                            <dl class="dl-horizontal">
                                <dt>
                                    Event Title:
                                </dt>

                                <dd>
                                    ( display of text input type)
                                </dd>

                                <dt>
                                    Start time:
                                </dt>

                                <dd>
                                    ( display of datetime-local input type)
                                </dd>

                                <dt>
                                    End time:
                                </dt>

                                <dd>
                                    ( display of datetime-local input type)
                                </dd>

                                <dt>
                                    Event Type:
                                </dt>

                                <dd>
                                    ( display of either option: "Production" or "Facility Rental")

                                </dd>

                                <dt>
                                    Link:
                                </dt>

                                <dd>
                                    ( display of text input type)
                                </dd>

                            </dl>

                        </div>
                  
                    </div>
                <div class="modal-footer">
                    <div class="iconBtnContainer2">
                        <span class="modal-trigger"><button class="iconBtn2" id="detaileditbtn" data-dismiss="modal" data-toggle="modal"><i class="fa fa-edit fa-fw"></i> Edit</button></span>
                        <span class="modal-trigger">
                            <button class="iconBtn2" id="detaildeletebtn" data-dismiss="modal" data-toggle="modal">
                                <i class="fa fa-trash-alt fa-fw"></i> Delete
                            </button>
                        </span>
                        <button class="iconBtn2" href="#" data-dismiss="modal">
                            <i class="fa fa-window-close fa-fw"></i> Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Modal box for Deletion Confirmation of Calendar Event*@
    <div class="modal fade" id="confdelModal" tabindex="-1" role="dialog" aria-labelledby="fc-modals-titles" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="fc-modals">
                <span aria-hidden="true"></span>
                <div class="modal-header">
                    <h3 class="modal-title" id="fc-modal-titles">Confirm Delete Event</h3>
                    <button class="iconBtn2" href="#" data-dismiss="modal">
                        <i class="fa fa-window-close fa-fw"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <h1>Delete Event</h1>
                    <p>Are you sure you wish to delete this event?</p>
                </div>
                <div class="modal-footer">
                    <div class="iconBtnContainer2">
                        <button class="iconBtn2" id="deletebtn" data-dismiss="modal" data-toggle="modal"><i class="fa fa-trash-alt fa-fw"></i> Delete</button>
                        <button class="iconBtn2" href="#" data-dismiss="modal">
                            <i class="fa fa-window-close fa-fw"></i> Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<div id="calendar"></div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var events = [];
            $.ajax({
                type: "GET",
                url: "/calendarEvents/GetCalendarEvents",
                success: function (data) {
                    //    data[0].start = moment(data[0].start)
                    //    data[0].end = moment(data[0].end)
                    events = data
                    $('#calendar').fullCalendar({
                        // put your options and callbacks here
                        events: events,
                        contentHeight: 550,
                    })
                    console.log(data);
                    console.log(events);
                }
            })

            // page is now ready, initialize the calendar...

            

            $(document).ready(function () {

                //modalInstance.rendered.then(function (result) {
                //    $('.modal .modal-body').css('overflow-y', 'auto');
                //    $('.modal .modal-body').css('max-height', $(window).height() * 0.7);
                //    $('.modal .modal-body').css('height', $(window).height() * 0.7);
                //});

                $("#addbtn").click(function () {
                    $("#addModal").modal({ backdrop: false });
                });
                $('#detailbtn').click(function () {
                    $("#detailsModal").modal({ backdrop: false });
                });
                $("#editbtn").click(function () {
                    $("#editModal").modal({ backdrop: false });
                });

                $("#detaileditbtn").click(function () {
                    $("#editModal").modal({ backdrop: false });
                });

                //commented out JS for modals when attached to functionality: edit
                //$('#editModal').modal('handleUpdate');


                $("#deletebtn").click(function () {
                    $("#confdelModal").modal({ backdrop: false });
                });
                $("#detaildeletebtn").click(function () {
                    $("#confdelModal").modal({ backdrop: false });
                });
                $("#editdeletebtn").click(function () {
                    $("#confdelModal").modal({ backdrop: false });
                });

                //to prevent body scrolling bug when modal triggered from another modal
                $("#editModal").on("show.bs.modal"), function () {
                    $("body").css('position', 'fixed').css('overflow', 'hidden');
                };
                $("#editModal").on("hide.bs.modal"), function () {
                    $("body").css('position', 'relative').css('overflow', 'auto');
                };

                jsEvent.click(function () {
                    $("#detailsModal").modal({ backdrop: false });
                });
                jsEvent.click(function () {
                    $("#editModal").modal({ backdrop: false });
                });
            });

            //to render the details modal from selecting an event
            $('#calendar').fullCalendar({
                eventClick: function (calEvent, jsEvent, view) {

                    jsEvent.click(function () {
                        $("#detailsModal").modal({ backdrop: true });

                    })
                }
            });

            //to render the add modal from selecting empty space [or date link?]

            $('#calendar').fullCalendar({
                dayClick: function (date, jsEvent, view, resourceObj) {
                    $("#addModal").modal({ backdrop: false });
                }
            });

            // to confirm event updated:
            $('#calendar').fullCalendar({
                eventClick: function (event, element) {
                    event.title = "CHANGES SAVED!";

                    $('#calendar').fullCalendar('updateEvent', event);
                    $('#calendar').fullCalendar('renderEvent', event, true);
                }
            });


        });
    </script>
}

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table text-white">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketsAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentalRequestId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketsAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalRequestId)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {

                    @Html.ActionLink("Edit", "Edit", new { id = item.EventId })
                }

                | @Html.ActionLink("Details", "Details", new { id = item.EventId }) |

                @if (User.IsInRole("Admin"))
                {

                    @Html.ActionLink("Delete", "Delete", new { id = item.EventId })
                }


            </td>
        </tr>
    }

</table>