@model TheatreCMS.Models.CastMember
@using TheatreCMS.Models


@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CastMember</h4>
    <label class="font-weight-bold"></label>
          
    <hr />
    <dl class="dl-horizontal">
        @ViewData["userName"]
        
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearJoined)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearJoined)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainRole)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentMember)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentMember)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
