@model TheatreCMS.Models.CastMember

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CastMember</h4>
    <hr />

    <div class="row">
        <dl class="dl-horizontal justify-content-start col-md-9">
            <dt>
                User Name:
            </dt>
            <dd>
                @ViewBag.CurrentUser
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.YearJoined)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.YearJoined)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MainRole)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MainRole)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Bio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Bio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Photo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Photo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CurrentMember)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CurrentMember)
            </dd>

        </dl>
        <div class="justify-content-end col-md-3">
            <dl>
                @if (Model.Parts.Count() != 0)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Parts)
                    </dt>
                    foreach (var role in Model.Parts)
                    {
                        <dd>
                            <a href="/Part/Details/@role.PartID">@Html.DisplayFor(model => role.Character)</a>
                        </dd>
                    }
                }
            </dl>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CastMemberID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
