@using TheatreCMS.Controllers
@model TheatreCMS.Models.CastMember

@{
  ViewBag.Title = "Details";
}


  <div class=" container-fluid">
    <div class=" detailsContainer">
        <div id="Isaiah_details" class="topPadding outsideBorder">
            <div class="row">
                <div class="col-md-4">
                    <h2 id="Isaiah_castname">@Html.DisplayFor(model => model.Name)</h2>



                    @*<div class="text-center justify-content-start col-md ">*@


                    @{
                        string img = "";
                        if (Model.Photo != null)
                        {
                            byte[] thumbBytes = ImageUploadController.ImageThumbnail(Model.Photo, 100, 100);
                            var base64 = System.Convert.ToBase64String(thumbBytes);
                            img = String.Format("data:image/png;base64,{0}", base64);
                        }
                    }

                    <img id="Isaiah_col1" src="/Content/Images/CastMember.jpg" class="img-fluid imgRouned w-100" />
                    <h6>User Name: @ViewBag.CurrentUser</h6>
                    <div>
                        <h5>@Html.DisplayNameFor(model => model.Parts): </h5>
                        @if (Model.Parts.Count() != 0)
                        {
                            foreach (var role in Model.Parts)
                            {
                                <div>
                                    <a href="/Part/Details/@role.PartID">@Html.DisplayFor(model => role.Character)</a>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class=" col-md-8">
                    <div class="row-cols-1">
                        <h2 id="Isaiah_castbio">@Html.DisplayNameFor(model => model.MainRole): @Html.DisplayFor(model => model.MainRole)</h2>
                    </div>
                    <div id="Isaiah_col2" class="row">
                        <h5>&emsp;@Html.DisplayFor(model => model.Bio)</h5>
                    </div>
                    <div id="Isaiah_castrow" class="row">
                        <hr class="Isaiah_castline" />
                    </div>
                    <div class="row">
                        <div id="Isaiah_castCol1" class="Isaiah_castCol col-xl-7 col-lg-7 col-md-7 col-sm-7 col-4">
                            <h6 id="Isaiah_casth6">Year Joined: @Html.DisplayFor(model => model.YearJoined)</h6>
                        </div>
                        <div class="Isaiah_castCol col-xl-5 col-lg-5 col-md-5 col-sm-5 col-8">
                            <h6 class="Isaiah_castCheck1">Associate Artist</h6><h6 class="Isaiah_castCheck2">@Html.DisplayFor(model => model.AssociateArtist)</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div id="Isaiah_castCol2" class="Isaiah_castCol col-xl-7 col-lg-7 col-md-7 col-sm-7 col-4">
                            <h6>Year Left: @Html.DisplayFor(model => model.CastYearLeft)</h6>
                        </div>
                        <div class="Isaiah_castCol col-xl-5 col-lg-5 col-md-5 col-sm-5 col-8">
                            <h6 class="Isaiah_castCheck1">Ensemble Member</h6><h6 class="Isaiah_castCheck2">@Html.DisplayFor(model => model.EnsembleMember)</h6>

                        </div>
                    </div>
                    <div class="row">
                        <div id="Isaiah_castCol3" class="Isaiah_castCol col-xl-7 col-lg-7 col-md-7 col-sm-7 col-4">
                            <h6>Debut Year: @Html.DisplayFor(model => model.DebutYear)</h6>
                        </div>
                        <div class="Isaiah_castCol col-xl-5 col-lg-5 col-md-5 col-sm-5 col-8">
                            <h6 class="Isaiah_castCheck1">Current Member</h6><h6 class="Isaiah_castCheck2">@Html.DisplayFor(model => model.CurrentMember)</h6>

                        </div>
                    </div>
                </div>
            </div>

                </div>
            </div>

        </div>
          @*<p>
            @*making space between photo and rest of details
          </p>*@

            <div class="justify-content-end col-md-6">
              <div>
                @if (Model.Parts.Count() != 0)
                {
                  <div>
                    @Html.DisplayNameFor(model => model.Parts)
                  </div>
                  foreach (var role in Model.Parts)
                  {
                    <div>
                      <a href="/Part/Details/@role.PartID">@Html.DisplayFor(model => role.Character)</a>
                    </div>
                  }
                }
              </div>
            </div>
          </div>

        <div class="mybutton ">
          <p>
            @if (User.IsInRole("Admin"))
            {

            
              <div class=" iconBtn ">
                <div class=" buttonsize" ;>
                  <a href='@Url.Action("Edit", "CastMembers", new { id = Model.CastMemberID })'> Edit </a>





                </div>
              </div>
            
              

             


            }

          <div class=" iconBtn">
            <div class=" buttonsize">
              <a href='@Url.Action("Index", "CastMembers")'> Back To List</a>
            </div>
          </div>

          </p>
            
        </div>


 
<script>
    window.addEventListener("load", Heightsize);
    window.addEventListener("resize", Heightsize);
    function Heightsize() {
        var x = document.getElementById("Isaiah_col1").offsetHeight;
        var y = document.getElementById("Isaiah_castname").offsetHeight;
        var z = document.getElementById("Isaiah_castrow").offsetHeight;
        var xz = document.getElementById("Isaiah_casth6").offsetHeight;
        if (window.innerWidth > 767) {
            document.getElementById("Isaiah_col2").style.height = (x - z) + "px";
            document.getElementById("Isaiah_castbio").style.height = y + "px";
            document.getElementById("Isaiah_col2").style.paddingLeft = 5 + "vw";
            document.getElementById("Isaiah_castrow").style.paddingLeft = 5 + "vw";
            document.getElementById("Isaiah_castCol1").style.paddingLeft = 5 + "vw";
            document.getElementById("Isaiah_castCol2").style.paddingLeft = 5 + "vw";
            document.getElementById("Isaiah_castCol3").style.paddingLeft = 5 + "vw";
            
        }
        else {
            document.getElementById("Isaiah_col2").style.height = "auto";
            document.getElementById("Isaiah_castbio").style.height = "auto";
            document.getElementById("Isaiah_col2").style.paddingLeft = 0;
            document.getElementById("Isaiah_castrow").style.paddingLeft = 0;
            document.getElementById("Isaiah_castCol1").style.paddingLeft = 0;
            document.getElementById("Isaiah_castCol2").style.paddingLeft = 0;
            document.getElementById("Isaiah_castCol3").style.paddingLeft = 0;
        }
        
    }
</script>
