@using TheatreCMS.Controllers
@model IEnumerable<TheatreCMS.Models.CastMember>


@{
    ViewBag.Title = "Cast";
    // UserIds set to make it easier to read
    var UserIds = ViewBag.Users as Dictionary<string, string>;
}

<h1 class="text-center">Cast</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="castContainer">
                    @*<img class="castImage" src="@Url.Content("~/Content/Images/CastMember.jpg")" style="width:100%">*@
                    @{
                        string img = "";
                        if (item.Photo != null)
                        {
                            byte[] thumbBytes = ImageUploadController.ImageThumbnail(item.Photo, 100, 100);
                            var base64 = System.Convert.ToBase64String(thumbBytes);
                            img = String.Format("data:image/png;base64,{0}", base64);
                        }
                        else
                        {
                            img = @Url.Content("~/Content/Images/CastMember.jpg");
                        }
                    }
                    <img class="castImage" src="@img" style="width:100%" />
                    <div class="castMiddle"><div class="castText">@Html.DisplayFor(modelItem => item.Bio)</div></div>
                </div>
                <div class="caption">
                    <p>
                        @Html.DisplayFor(modelItem => item.Name) |
                        Joined our cast: @Html.DisplayFor(modelItem => item.YearJoined) |
                        Role: @Html.DisplayFor(modelItem => item.MainRole)
                    </p>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CastMemberID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CastMemberID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CastMemberID })
                    </p>
                </div>
            </div>
        </div>
    }
</div>