@using TheatreCMS.Controllers
@model IEnumerable<TheatreCMS.Models.CastMember>


@{
    ViewBag.Title = "Index";
    // UserIds set to make it easier to read
    var UserIds = ViewBag.Users as Dictionary<string, string>; 
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearJoined)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentMember)
        </th>
        <th>
            User Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearJoined)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainRole)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentMember)
            </td>
            <td>
                @{ 
                    foreach (var temp in UserIds)
                    {
                        if (temp.Key == item.CastMemberPersonID && item.CastMemberPersonID != null)
                        {
                             // Iterates through all Ids displaying UserName through the Dictionary
                            <text>@temp.Value</text>
                            break;
                        }
                    }
                }
                







            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CastMemberID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CastMemberID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CastMemberID })
            </td>
        </tr>
    }

</table>
