@using TheatreCMS.Controllers
@model IEnumerable<TheatreCMS.Models.ProductionPhotos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table-styling">
    <tr class="tr-styling">
        <th class="th-styling">
            @Html.DisplayNameFor(model => model.PhotoId )
        </th>
        <th class="th-styling">
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th class="th-styling">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr class="tr-styling">
            @*@Html.DisplayFor(modelItem => item.PhotoId)*@
            <td class="td-styling">             
                <img src='@Url.Action("DisplayPhoto", "Photo", new { id = item.PhotoId })' />
            </td>

            <td class="td-styling">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="td-styling">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="td-styling">
                @Html.ActionLink("Edit", "Edit", new { id = item.ProPhotoId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProPhotoId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProPhotoId })
            </td>
        </tr>
    }

</table>
