@using TheatreCMS.Controllers
@model IEnumerable<TheatreCMS.Models.ProductionPhotos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        @*@Html.DisplayFor(modelItem => item.Photo)*@
       <td>
            @{
                string img = "";
                if (item.Photo != null)
                {
                    byte[] thumbBytes = ImageUploadController.ImageThumbnail(item.Photo, 100, 100);
                    var base64 = System.Convert.ToBase64String(thumbBytes);
                    img = String.Format("data:image/png;base64,{0}", base64);
                }
            }
            <img src="@img" />
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProPhotoId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ProPhotoId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProPhotoId })
        </td>
    </tr>
    }

</table>
