@model IEnumerable<TheatreCMS.Models.Part>

@{
  ViewBag.Title = "Part";
}

<h2>Part</h2>

@if (User.IsInRole("Admin"))
{
  <p>
    @Html.ActionLink("Create New", "Create")
  </p>
}
<table class="table admin-tables">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.Production.Title)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Person.Name)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Character)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Type)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Details)
    </th>
    <th></th>
  </tr>
  
    <div class="row ml-1 mr-1 justify-content-center" >
      @foreach (var item in Model)
      {

        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-8 ">
          <div class="card bg-light text-dark mr-0 mb-3 align-items-center" style="height: 325px">
            <h5 class="card-title mt-2 underline text-center">@Html.DisplayFor(modelItem => item.Character)</h5>
            <p class="font-italic m-0">Performed By:</p>
            <h6 class="mb-1  text-center"> @Html.DisplayFor(modelItem => item.Person.Name)</h6>
            <p class="font-italic m-0">In the Production:</p>
            <h6 class=" ml-4 mr-4 text-center">@Html.DisplayFor(modelItem => item.Production.Title)</h6>
            <p class="bold mt-1 mb-0">Details</p>
            <p class="part-details-elipsis card-text ml-3 mr-3"> @Html.DisplayFor(modelItem => item.Details)</p>
            @*<div class="">
              @if (User.IsInRole("Admin"))
              {
                <span class="badge badge-pill badge-dark">@Html.ActionLink("Edit", "Edit", new { id = item.PartID }) </span>
                <span class="badge badge-pill badge-dark">@Html.ActionLink("Delete", "Delete", new { id = item.PartID })</span>
                <span class="badge badge-pill badge-dark">@Html.ActionLink("Details", "Details", new { id = item.PartID })</span>
              }
            </div>*@
          </div>
        </div>

        <!--
          <tr>
            <td>
              @Html.DisplayFor(modelItem => item.Production.Title)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Person.Name)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Character)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Details)
            </td>
      @*      <td>
              @if (User.IsInRole("Admin"))
              {
                @Html.ActionLink("Edit", "Edit", new { id = item.PartID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PartID })|
              }
              @Html.ActionLink("Details", "Details", new { id = item.PartID })
            </td>*@
            @if (User.IsInRole("Admin"))
            {
          <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PartID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PartID }) |
            @Html.ActionLink("Details", "Details", new { id = item.PartID })
          </td>
            }
            @if (!User.IsInRole("Admin"))
            {
            <td>
              @Html.ActionLink("Details", "Details", new { id = item.PartID })
            </td>
            }
          </tr>-->
      }
    </div>
  
</table>
