@model IEnumerable<TheatreCMS.Models.Production>
@using TheatreCMS.Controllers
@using TheatreCMS.Models

@{
    ViewBag.Title = "Home Page";
    int i = 1;
}

@Styles.Render("~/Content/Site.css")
@Scripts.Render("~/Scripts/Site.js")


<div>
    <div>
        <main id="home-main">
            <div class="home-container">
                @foreach (var item in Model)
                {
                    <div id="index-block-@i" class="home-block">
                        <figure class="home-inner">
                            <div class="home-tint-overlay home-tint-overlay-show"></div>
                            @{
                                if (item.DefaultPhoto != null)
                                {
                                    <div class="home-img">
                                        <div role="presentation" style="background-image: url(@Url.Action("DisplayPhoto", "Photo", new { id = (item.DefaultPhoto.PhotoId + 1) }))"></div> @* TODO: insert unique img*@
                                    </div>
                                    <div class="home-mobile-img">
                                        <div role="presentation" style="background-image: url(@Url.Action("DisplayPhoto", "Photo", new { id = (item.DefaultPhoto.PhotoId + 1) }))"></div> @* TODO: insert unique img*@
                                    </div>
                                }
                                else
                                {
                                    <div class="home-img">
                                        <div style="background-image: url(~/Content/Images/Unavailable.png)"></div> @* TODO: insert unique img*@
                                    </div>
                                    <div class="home-mobile-img">
                                        <div style="background-image: url(~/Content/Images/Unavailable.png)"></div> @* TODO: insert unique img*@
                                    </div>
                                }
                            }
                            <figcaption class="home-content home-content-show">
                                <div class="home-content-inner" data-aos="fade-up">
                                    @{
                                        <h6 class="home-tag-line">Home Tag Line</h6>
                                        <h2 role="heading" class="home-title">@item.Title</h2>
                                        <p class="home-date">@item.OpeningDay.ToString("dddd, MMMM dd") - @item.ClosingDay.ToString("dddd, MMMM, dd")</p>
                                        <div class="home-btn">
                                            <a class="btn-primary" href="#">Details</a>
                                        </div>
                                    }
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    i++;
                }
            </div>
        </main>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function () {

    });
</script>
