@model IEnumerable<TheatreCMS.Models.RentalRequest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table-styling">
    <tr class="tr-styling">
        <th class="th-styling">
            @Html.DisplayNameFor(model => model.ContactPerson)
        </th>
        <th class="th-styling">
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th class="th-styling">
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th class="th-styling">
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th class="th-styling">
            @Html.DisplayNameFor(model => model.ProjectInfo)
        </th>
        <th class="th-styling">
            @Html.DisplayNameFor(model => model.Requests)
        </th>
        <th class="th-styling">
            @Html.DisplayNameFor(model => model.Attachments)
        </th>
        <th class="th-styling">
            @Html.DisplayNameFor(model => model.Accepted)
        </th>
        <th class="th-styling">
            @Html.DisplayNameFor(model => model.ContractSigned)
        </th>
        @*<th class="th-styling"></th>*@
    </tr>

@foreach (var item in Model) {
    <tr class="tr-styling">
        <td class="td-styling">
            @Html.DisplayFor(modelItem => item.ContactPerson)
        </td>
        <td class="td-styling">
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        <td class="td-styling">
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td class="td-styling">
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td class="td-styling">
            @Html.DisplayFor(modelItem => item.ProjectInfo)
        </td>
        <td class="td-styling">
            @Html.DisplayFor(modelItem => item.Requests)
        </td>
        <td class="td-styling">
            @Html.DisplayFor(modelItem => item.Attachments)
        </td>
        <td class="td-styling">
            @Html.DisplayFor(modelItem => item.Accepted)
        </td>
        <td class="td-styling">
            @Html.DisplayFor(modelItem => item.ContractSigned)
        </td>
        <td class="td-styling">
            @Html.ActionLink("Edit", "Edit", new { id=item.RentalRequestId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RentalRequestId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RentalRequestId })
        </td>
    </tr>
}

</table>
