@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Dashboard";
}

<!DOCTYPE html>

<h2>Dashboard</h2>

<ul>
    <li>
        @Html.ActionLink("Info", "Index", "DisplayInfo")
    </li>
    <li>
        @Html.ActionLink("Display Links", "Index", "DisplayLinks")
    </li>
    <li>
        @Html.ActionLink("Sponsors", "Index", "Sponsors")
    </li>
    <li>
        @Html.ActionLink("Content Section", "Index", "ContentSection")
    </li>
    <li>
        @Html.ActionLink("Productions", "Index", "Productions")
    </li>
    <li>
        @Html.ActionLink("Cast Members", "Index", "CastMembers")
    </li>
    <li>
        @Html.ActionLink("Part", "Index", "Part")
    </li>
    <li>
        @Html.ActionLink("Subscriber", "Index", "Subscribers/Subscriber")
    </li>
    <li>
        @Html.ActionLink("Rental Request", "Index", "RentalRequest")
    </li>
    <li>
        @Html.ActionLink("Donor List","Index", "Admin/DonorList")
    </li>
</ul>


@using (Html.BeginForm("SettingsUpdate", "Admin", FormMethod.Post))
{
<div>
    Current Season:
    <input type="number" name="Current_Season"><br />
    Season Productions:<br />
    Winter:<input type="number" name="Fall"><br>
    Fall:<input type="number" name="Winter"><br>
    Spring:<input type="number" name="Spring"><br>
    Recent Definition:<br />
    Span:<input type="number" name="Span"><br>
    Date:<input type="date" name="Date"><br>
    Onstage:<input type="number" name="Onstage"><br />
    <button type="submit">Submit</button>
</div>
}