@model TheatreCMS.Models.AdminSettings

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Dashboard";
}

<!DOCTYPE html>

<h1 id="admin-dash-title">Admin Dashboard</h1>

<!-- Admin Nav Top-->
<div  id="admin-dash">
    <ul>
        <li>
            <a class="admin-dash-btn" href="@Url.Action("Index", "DisplayInfo")">Info</a>
        </li>
        <li>
          <a class="admin-dash-btn" href="@Url.Action("Index", "DisplayLinks")">DisplayLinks</a>
        </li>

        <li>
          <a class="admin-dash-btn" href="@Url.Action("Index", "ContentSection")">Content Section</a>
        </li>
        <li>
          <a class="admin-dash-btn" href="@Url.Action("Index", "Productions")">Productions</a>
        </li>
        <li>
          <a class="admin-dash-btn" href="@Url.Action("Index", "CastMembers")">Cast Members</a>
        </li>
        <li>
          <a class="admin-dash-btn" href="@Url.Action("Index", "Part")">Part</a>
        </li>
        <li>
          <a class="admin-dash-btn" href="@Url.Action("Index", "Subscriber", new { area = "Subscribers" })">Subscriber</a>
        </li>
        <li>
          <a class="admin-dash-btn" href="@Url.Action("Index", "RentalRequest")">Rental Request</a>
        </li>
        <li>
          <a class="admin-dash-btn" href="@Url.Action("DonorList", "Admin")">Donor List</a>
        </li>
    </ul>
</div>
<!-- End Admin Nav Top-->



<!--Form-->
    <div class="container">
        @using (Html.BeginForm("SettingsUpdate", "Admin", FormMethod.Post))
        {
        <div id="admin-formspace">
            CURRENT SEASON:
            <br />
            <input type="number" name="Current_Season" value="@Html.DisplayFor(model => model.current_season)">
            <br />
            <br />
            <br />
            SEASON PRODUCTIONS:
            <br />
            Fall:
            @*<input type="number" name="Winter" value="@Html.DisplayFor(model => model.season_productions.winter)"><br>*@
            <div>
                @Html.DropDownListFor(model => model.season_productions.fall, (IEnumerable
                <SelectListItem>)ViewData["ProductionList"])
            </div>
            Winter:
            @*<input type="number" name="Fall" value="@Html.DisplayFor(model => model.season_productions.fall)"><br>*@
            <div>
                @Html.DropDownListFor(model => model.season_productions.winter, (IEnumerable
                <SelectListItem>)ViewData["ProductionList"])
            </div>
            Spring:
            @*<input type="number" name="Spring" value="@Html.DisplayFor(model => model.season_productions.spring)"><br>*@
            <div>
                @Html.DropDownListFor(model => model.season_productions.spring, (IEnumerable
                <SelectListItem>)ViewData["ProductionList"])
            </div>
            <br />
            <br />

            RECENT DEFINITION:
            <br />
            Date:
            <br />
            <input align="center" type="date" name="recent_definition.date" value="@Model.recent_definition.date.ToString("yyyy-MM-dd")">
            <br />
            <br />
            Span:
            <br />
            <input align="center" type="number" name="recent_definition.span" value="@Html.DisplayFor(model => model.recent_definition.span)">
            <br />
            <br />
            <br />
            ONSTAGE:
            @*<input type="number" name="Onstage" value="@Html.DisplayFor(model => model.onstage)"><br /><br />*@
            <div>
                @Html.DropDownListFor(model => model.onstage, (IEnumerable
                <SelectListItem>)ViewData["ProductionList"])
            </div>
            <br />
            <br />
            <br />


            <button type="submit">Submit</button>
        </div>
        }
    </div>
<!--End Form-->





