@model IEnumerable<TheatreCMS.Models.ApplicationUser>
@using TheatreCMS.Controllers
@{
    ViewBag.Title = "UserList";
    string DecideCaret(string fieldName)
    {
        if (ViewBag.SortOrder.Contains(fieldName))
        {
            string caret = ViewBag.SortOrder.Contains("_desc") ? "&#9662;" : "&#9652;";
            return caret;
        }
        return null;
    }
}

<h2>UserList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table-styling">
    <tr class="tr-styling">
        <th class="th-styling">
            @Html.Raw(DecideCaret(Html.DisplayNameFor(model => model.UserName).ToString()))
            @Html.ActionLink(Html.DisplayNameFor(model => model.UserName).ToString(), "UserList", "Admin", new { requestedSort = "UserName", currentSortOrder = ViewBag.SortOrder }, new { @style = "color:#FFFFFF;" })
        </th>
        <th class="th-styling">
            @Html.Raw(DecideCaret(Html.DisplayNameFor(model => model.FirstName).ToString()))
            @Html.ActionLink(Html.DisplayNameFor(model => model.FirstName).ToString(), "UserList", "Admin", new { requestedSort = "FirstName", currentSortOrder = ViewBag.SortOrder }, new { @style = "color:#FFFFFF;" })
        </th>
        <th class="th-styling">
            @Html.Raw(DecideCaret(Html.DisplayNameFor(model => model.LastName).ToString()))
            @Html.ActionLink(Html.DisplayNameFor(model => model.LastName).ToString(), "UserList", "Admin", new { requestedSort = "LastName", currentSortOrder = ViewBag.SortOrder }, new { @style = "color:#FFFFFF;" })
        </th>
        <th class="th-styling">
            @Html.Raw(DecideCaret(Html.DisplayNameFor(model => model.Role).ToString()))
            @Html.ActionLink(Html.DisplayNameFor(model => model.Role).ToString(), "UserList", "Admin", new { requestedSort = "Role", currentSortOrder = ViewBag.SortOrder }, new { @style = "color:#FFFFFF;" })
        </th>
        <th class="th-styling">
            Options
        </th>
    </tr>

@foreach (var item in Model)
{
<tr class="tr-styling">
    <td class="td-styling">
        @Html.DisplayFor(modelItem => item.UserName)
    </td>
    <td class="td-styling">
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td class="td-styling">
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td class="td-styling">
        @Html.DisplayFor(modelItem => item.Role)
    </td>
    @if (item.Role == "Subscriber")
    {
        <td>
            <a href="@Url.Action("Details", "Subscriber", new { id = item.SubscriberPerson.SubscriberId, area = "Subscribers" }, null)">Details |</a>
        </td>
    }
    @if (item.Role == "Member")
    {
        <td>
            @Html.ActionLink("Details", "Details", "CastMember", new { id = item.CastMemberUserID }, null) |
        </td>
    }
</tr>

}
 </table>    