@model TheatreCMS.Models.Role

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Role</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label>Production</label>
            <div class="col-md-10">
                @Html.DropDownList("Productions", new SelectList(Enumerable.Empty<SelectListItem>()))
            </div>
        </div>
        <div class="form-group">
            <label>Person</label>
            <div class="col-md-10">
                @Html.DropDownList("CastMembers", new SelectList(Enumerable.Empty<SelectListItem>()))
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Character, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Character, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Character, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Type, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Details, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var productions = [];
            $.ajax({
                type: "GET",
                url: "/Role/GetProductionDropdown",
                success: function (result) {
                    $(result).each(function () {
                        $("#Productions").append($("<option></option>").val(this.title).html(this.title));
                    });
                    console.log(result);
                },
                error: function (data) { }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            var castMembers = [];
            $.ajax({
                type: "GET",
                url: "/Role/GetCastMemberDropdown",
                success: function (result) {
                    $(result).each(function () {
                        $("#CastMembers").append($("<option></option>").val(this.name).html(this.name));
                    });
                    console.log(result);
                },
                error: function (data) { }
            });
        });
    </script>
}