@model IEnumerable<TheatreCMS.Models.Photo>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table-styling">
    <tr class="tr-styling">
        <th class="th-styling">
            @Html.DisplayNameFor(model => model.PhotoFile)
        </th>
        <th class="th-styling">
            @Html.DisplayNameFor(model => model.OriginalHeight)
        </th>
        <th class="th-styling">
            @Html.DisplayNameFor(model => model.OriginalWidth)
        </th>
        <th class="th-styling">
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="tr-styling">
            <td class="td-styling">
                <img id="photo-index-img-@item.PhotoId" class="thumbnail_size photo-index-img" 
                     onclick="ShowModel(@item.PhotoId)" src='@Url.Action("DisplayPhoto", "Photo", new { id = item.PhotoId })' />
            </td>
            <td class="td-styling">
                @Html.DisplayFor(modelItem => item.OriginalHeight)
            </td>
            <td class="td-styling">
                @Html.DisplayFor(modelItem => item.OriginalWidth)
            </td>
            <td class="td-styling">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="td-styling">
                @Html.ActionLink("Edit", "Edit", new { id = item.PhotoId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PhotoId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PhotoId })
            </td>
        </tr>
    }
</table>

                   @*Container for the photo modal*@
<div id="photo-modal" class="photo-modal">
    <img id="photo-modal--content" class="photo-modal--content" />
</div>
