@model TheatreCMS.Models.Sponsor
@using TheatreCMS.Helpers

@{
    ViewBag.Title = "Details";
}
    <div class="container">
        <h2>Details</h2>
        <div>
            <h4>Sponsor</h4>
            <hr />
            <div class="row">
                <dl class="dl-horizontal justify-content-start col-md-9">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Logo)
                    </dt>

                    <dd>
                        @{
                            string img = "";
                            if (Model.Logo != null)
                            {
                                byte[] thumbBytes = ImageUploader.ImageThumbnail(Model.Logo, 100, 100);
                                var base64 = System.Convert.ToBase64String(thumbBytes);
                                img = String.Format("data:image/png;base64,{0}", base64);
                            }
                        }
                        <img src="@img" />
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Height)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Height)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Width)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Width)
                    </dd>

                </dl>
            </div>
            
        </div>
    </div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SponsorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
